<header>
    <nav class="navbar">
        <div class="logo">
            <a href="index.html" class="plan-link">
                <img src="./images/logo-marcela.png" alt="Logo Coomeva Marcela Gutierrez">
            </a>
        </div>

        <div class="navbar-content">
            <div class="navbar-top-row">
                <div class="contact-info">
                    <span>Llámanos:</span>
                    <a href="https://wa.me/573172254064"><i class="fa-brands fa-whatsapp"></i> 3172254064</a>
                    <a href="https://wa.me/573180306109"><i class="fa-brands fa-whatsapp"></i> 3180306109</a>
                    <a href="mailto:asesoria@medicinasprepagada.com"><i class="fa-solid fa-envelope"></i>
                        asesoria@medicinasprepagada.com </a>
                </div>
                <div class="social-icons-header">
                    <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>

            <div class="navbar-bottom-row">
                <div class="nav-links">
                    <ul>
                        <li><a href="index.html"><i class="fa-solid fa-house"></i></a></li>

                        <li class="dropdown-container">
                            <a href="#" class="dropdown-toggle">
                                <i class="fa-solid fa-chevron-down"></i> <span>Programas de Medicina Integral</span>
                            </a>
                            <div class="dropdown-menu">
                                <div class="dropdown-grid">
                                    <a href="oro-plus.html" class="dropdown-item">
                                        <img src="img/oro_plus.gif" alt="Tarjeta Oro Plus">
                                        <div class="dropdown-item-content">
                                            <h4>Oro Plus</h4>
                                            <p>Es el plan más completo de Coomeva. Cubre servicios integrales sin
                                                topes, desde consultas ilimitadas, hospitalización y urgencias
                                                nacionales e internacionales.</p>
                                        </div>
                                    </a>
                                    <a href="oro-prime-empresarial.html" class="dropdown-item">
                                        <img src="img/tarjeta_oro_prime.gif" alt="Tarjeta Oro Prime Empresarial">
                                        <div class="dropdown-item-content">
                                            <h4>Oro Prime Empresarial</h4>
                                            <p>Un plan corporativo diseñado para brindar el mayor bienestar y una
                                                cobertura premium para tus empleados.</p>
                                        </div>
                                    </a>
                                    <a href="plata-prime.html" class="dropdown-item"> <img
                                            src="img/tarjeta_plata_prime.gif" alt="Tarjeta Plata Prime">
                                        <div class="dropdown-item-content">
                                            <h4>Plata Prime</h4>
                                            <p>Plan de nivel intermedio con acceso directo e ilimitado a
                                                especialistas y subespecialidades desde el primer día.</p>
                                        </div>
                                    </a>
                                    <a href="plata-joven.html" class="dropdown-item"> <img
                                            src="img/tarjeta_plata_joven.gif" alt="Tarjeta Plata Joven">
                                        <div class="dropdown-item-content">
                                            <h4>Plata Joven</h4>
                                            <p>Opción más económica para jóvenes que prioriza cobertura útil con
                                                acceso a servicios básicos y consultas.</p>
                                        </div>
                                    </a>
                                    <a href="preferente.html" class="dropdown-item"> <img
                                            src="img/tarjeta_preferente.gif" alt="Tarjeta Preferente">
                                        <div class="dropdown-item-content">
                                            <h4>Preferente</h4>
                                            <p>Plan con cobertura más amplia que los básicos. Incluye medicina
                                                terapéutica, terapias alternativas y maternidad.</p>
                                        </div>
                                    </a>
                                    <a href="tradicional-especial.html" class="dropdown-item"> <img
                                            src="img/tarjeta_tradicional_especial.gif"
                                            alt="Tarjeta Tradicional Especial">
                                        <div class="dropdown-item-content">
                                            <h4>Tradicional Especial</h4>
                                            <p>Ofrece acceso directo a un número limitado de especialidades y
                                                cobertura de hospitalización derivada de urgencia.</p>
                                        </div>
                                    </a>
                                    <a href="ambulatorio-esencial.html" class="dropdown-item"> <img
                                            src="img/tarjeta_ambulatorio_esencial.gif"
                                            alt="Tarjeta Ambulatorio Esencial">
                                        <div class="dropdown-item-content">
                                            <h4>Ambulatorio Esencial</h4>
                                            <p>Enfoque en servicios ambulatorios (no hospitalarios) con cobertura
                                                accesible para especialistas y exámenes.</p>
                                        </div>
                                    </a>
                                    <a href="ambulatorio-especial.html" class="dropdown-item"> <img
                                            src="img/tarjeta_ambulatorio_especial.gif"
                                            alt="Tarjeta Ambulatorio Especial">
                                        <div class="dropdown-item-content">
                                            <h4>Ambulatorio Especial</h4>
                                            <p>Versión mejorada del ambulatorio con consultas, diagnósticos y
                                                tratamientos más completos desde el primer día.</p>
                                        </div>
                                    </a>
                                    <a href="cem.html" class="dropdown-item">
                                        <img src="img/cem.gif" alt="Tarjeta Programa CEM">
                                        <div class="dropdown-item-content">
                                            <h4>Programa CEM</h4>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </li>

                        <li class="dropdown-container">
                            <a href="#" class="dropdown-toggle">
                                <i class="fa-solid fa-chevron-down"></i> <span>Programas de Salud Oral</span>
                            </a>
                            <div class="dropdown-menu">
                                <div class="dropdown-grid oral-grid">
                                    <a href="dental-elite.html" class="dropdown-item"> <img
                                            src="img/tarjeta_dental_elite.gif" alt="Tarjeta Dental Elite">
                                        <div class="dropdown-item-content">
                                            <h4>Dental Elite</h4>
                                            <p>Plan odontológico de alta cobertura. Incluye red amplia de
                                                especialistas, procedimientos estéticos y ortodoncia.</p>
                                        </div>
                                    </a>
                                    <a href="dental-especial.html" class="dropdown-item"> <img
                                            src="img/tarjeta_dental_especial.gif" alt="Tarjeta Dental Especial">
                                        <div class="dropdown-item-content">
                                            <h4>Dental Especial</h4>
                                            <p>Cobertura nacional con atención en tratamientos especializados,
                                                urgencias y accidentes. Aplica cupón de pago.</p>
                                        </div>
                                    </a>
                                    <a href="dental-express.html" class="dropdown-item"> <img
                                            src="img/tarjeta_dental_express.gif" alt="Tarjeta Dental Express">
                                        <div class="dropdown-item-content">
                                            <h4>Dental Express</h4>
                                            <p>Plan sencillo orientado a prevención, urgencias y atención básica.
                                                Sin periodos de carencia.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <a href="contactenos.html">
                    <button class="cta-button-outline">Solicitar Cotización</button>
                </a>

            </div>
        </div>

        <button class="hamburger-menu">
            <i class="fa-solid fa-bars"></i>
        </button>
    </nav>
</header>

<div class="nav-links-mobile">
    <div class="mobile-menu-logo">
        <img src="./images/logo-marcela.png" alt="Logo Coomeva Marcela Gutierrez">
    </div>

    <ul class="mobile-menu-accordion">

        <div class="nav-links-mobile">
            <div class="mobile-menu-logo">
                <img src="./images/logo-marcela.png" alt="Logo Coomeva Marcela Gutierrez">
            </div>

            <div class="mobile-menu-scroll-area">
                <ul class="mobile-menu-accordion">
                </ul>
            </div>
            <div class="mobile-contact-info">
                <h4>Contacto Directo</h4>
                <a href="https://wa.me/573172254064"><i class="fa-brands fa-whatsapp"></i> 317 225 4064</a>
                <a href="https://wa.me/573180306109"><i class="fa-brands fa-whatsapp"></i> 318 030 6109</a>
                <a href="mailto:asesoria@medicinasprepagada.com"><i class="fa-solid fa-envelope"></i>
                    asesoria@medicinasprepagada.com</a>
            </div>
        </div>

        <li>
            <div class="accordion-header">
                <span>Programas de Medicina Integral</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="accordion-content">
                <ul>
                    <li><a href="oro-plus.html"><i class="fa-solid fa-crown"></i> Oro Plus</a></li>
                    <li><a href="oro-prime-empresarial.html"><i class="fa-solid fa-briefcase"></i> Oro Prime
                            Empresarial</a></li>
                    <li><a href="plata-prime.html"><i class="fa-solid fa-star"></i> Plata Prime</a></li>
                    <li><a href="plata-joven.html"><i class="fa-solid fa-user-graduate"></i> Plata Joven</a></li>
                    <li><a href="preferente.html"><i class="fa-solid fa-gem"></i> Preferente</a></li>
                    <li><a href="tradicional-especial.html"><i class="fa-solid fa-shield-halved"></i> Tradicional
                            Especial</a></li>
                    <li><a href="ambulatorio-esencial.html"><i class="fa-solid fa-kit-medical"></i> Ambulatorio
                            Esencial</a></li>
                    <li><a href="ambulatorio-especial.html"><i class="fa-solid fa-stethoscope"></i> Ambulatorio
                            Especial</a></li>
                    <li><a href="cem.html"><i class="fa-solid fa-house-chimney-medical"></i> Programa CEM</a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="accordion-header">
                <span>Programas de Salud Oral</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="accordion-content">
                <ul>
                    <li><a href="dental-elite.html"><i class="fa-solid fa-tooth"></i> Dental Elite</a></li>
                    <li><a href="dental-especial.html"><i class="fa-solid fa-tooth"></i> Dental Especial</a></li>
                    <li><a href="dental-express.html"><i class="fa-solid fa-tooth"></i> Dental Express</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="mobile-contact-info">
        <h4>Contacto Directo</h4>
        <a href="https://wa.me/573172254064"><i class="fa-brands fa-whatsapp"></i> 317 225 4064</a>
        <a href="https://wa.me/573180306109"><i class="fa-brands fa-whatsapp"></i> 318 030 6109</a>
        <a href="mailto:asesoria@medicinasprepagada.com"><i class="fa-solid fa-envelope"></i>
            asesoria@medicinasprepagada.com</a>
    </div>
</div>