<section class="plans-section">
    <h2>Coomeva Medicina Prepagada</h2>
    <p class="subtitle">Tu familia merece lo mejor</p>
    <div class="scrolling-wrapper">
        <button id="slideLeft" class="slide-button left">‹</button>

        <div class="cards-container">
            <div class="plan-card" data-plan="oro-plus">
                <div class="plan-image-container">
                    <img src="img/oro_plus.gif" alt="Icono Oro Plus" loading="lazy">
                </div>
                <div class="plan-title">
                    <h3>Oro Plus</h3>
                </div>
                <div class="plan-details">
                    <p>Es el plan más completo de Coomeva. Cubre servicios integrales sin topes, desde consultas
                        ilimitadas, hospitalización, cirugía, maternidad, enfermedades de alto costo, urgencias
                        nacionales e internacionales.</p>
                    <a href="oro-plus.html" class="plan-link">
                        <button class="learn-more-button">Conocer más</button>
                    </a>
                </div>
            </div>

            <div class="plan-card" data-plan="oro-prime-empresarial">
                <div class="plan-image-container">
                    <img src="img/tarjeta_oro_prime.gif" alt="Icono Oro Prime Empresarial" loading="lazy">
                </div>
                <div class="plan-title">
                    <h3>Oro Prime Empresarial</h3>
                </div>
                <div class="plan-details">
                    <p>El plan corporativo que brinda el mayor bienestar para tus empleados con coberturas y asistencias
                        exclusivas.</p>
                    <a href="oro-prime-empresarial.html" class="plan-link">
                        <button class="learn-more-button">Conocer más</button>
                    </a>
                </div>
            </div>

            <div class="plan-card" data-plan="plata-prime">
                <div class="plan-image-container">
                    <img src="img/tarjeta_plata_prime.gif" alt="Icono Plata Prime" loading="lazy">
                </div>
                <div class="plan-title">
                    <h3>Plata Prime</h3>
                </div>
                <div class="plan-details">
                    <p>Plan de nivel intermedio con acceso directo e ilimitado a especialistas y
                        subespecialidades
                        desde el primer día, terapias básicas, atención médica integral, servicios quirúrgicos y
                        hospitalarios, odontología básica incluida.</p>
                    <a href="plata-prime.html" class="plan-link">
                        <button class="learn-more-button">Conocer más</button>
                    </a>
                </div>
            </div>

            <div class="plan-card" data-plan="plata-joven">
                <div class="plan-image-container">
                    <img src="img/tarjeta_plata_joven.gif" alt="Icono Plata Joven" loading="lazy">
                </div>
                <div class="plan-title">
                    <h3>Plata Joven</h3>
                </div>
                <div class="plan-details">
                    <p>Dirigido a personas jóvenes (normalmente hasta cierta edad límite). Es una opción más
                        económica que prioriza cobertura útil para quien tiene menos necesidades médicas, pero
                        con
                        acceso a servicios básicos, consultas, cobertura ambulatoria.</p>
                    <a href="plata-joven.html" class="plan-link">
                        <button class="learn-more-button">Conocer más</button>
                    </a>
                </div>
            </div>

            <div class="plan-card" data-plan="preferente">
                <div class="plan-image-container">
                    <img src="img/tarjeta_preferente.gif" alt="Icono Preferente" loading="lazy">
                </div>
                <div class="plan-title">
                    <h3>Preferente</h3>
                </div>
                <div class="plan-details">
                    <p>Plan con cobertura más amplia que los planes básicos. Incluye medicina terapéutica,
                        terapias
                        alternativas, vacunación sin límite de edad, traslados en ambulancia terrestre,
                        maternidad,
                        afiliación de bebé gestante sin cobro hasta su nacimiento.</p>
                    <a href="preferente.html" class="plan-link">
                        <button class="learn-more-button">Conocer más</button>
                    </a>
                </div>
            </div>

            <div class="plan-card" data-plan="tradicional">
                <div class="plan-image-container">
                    <img src="img/tarjeta_tradicional_especial.gif" alt="Icono Tradicional" loading="lazy">
                </div>
                <div class="plan-title">
                    <h3>Tradicional</h3>
                </div>
                <div class="plan-details">
                    <p>Este plan ofrece acceso directo a un número limitado de especialidades (por ejemplo, 7
                        especialidades), cobertura de hospitalización y tratamiento quirúrgico cuando es
                        derivado de
                        urgencia, maternidad, ayudas diagnósticas intrahospitalarias.</p>
                    <a href="tradicional-especial.html" class="plan-link">
                        <button class="learn-more-button">Conocer más</button>
                    </a>
                </div>
            </div>

            <div class="plan-card" data-plan="ambulatorio-esencial">
                <div class="plan-image-container">
                    <img src="img/tarjeta_ambulatorio_esencial.gif" alt="Icono Ambulatorio Esencial" loading="lazy">
                </div>
                <div class="plan-title">
                    <h3>Ambulatorio Esencial</h3>
                </div>
                <div class="plan-details">
                    <p>Plan con enfoque en servicios ambulatorios (no hospitalarios) que busca ofrecer una
                        cobertura
                        accesible. Incluye acceso a especialistas, medicina alternativa, exámenes de laboratorio
                        e
                        imagenología simple ilimitados, odontología general preventiva.</p>
                    <a href="ambulatorio-esencial.html" class="plan-link">
                        <button class="learn-more-button">Conocer más</button>
                    </a>
                </div>
            </div>

            <div class="plan-card" data-plan="ambulatorio-especial">
                <div class="plan-image-container">
                    <img src="img/tarjeta_ambulatorio_especial.gif" alt="Icono Ambulatorio Especial" loading="lazy">
                </div>
                <div class="plan-title">
                    <h3>Ambulatorio Especial</h3>
                </div>
                <div class="plan-details">
                    <p>Una versión “mejorada” de lo ambulatorio: incorpora consultas generales y especializadas,
                        diagnósticos, tratamientos ambulatorios, cobertura odontológica general y preventiva,
                        entre
                        otros servicios más completos desde el primer día (sin hospitalización propia, salvo en
                        casos derivados a urgencias).</p>
                    <a href="ambulatorio-especial.html" class="plan-link">
                        <button class="learn-more-button">Conocer más</button>
                    </a>
                </div>
            </div>

            <div class="plan-card" data-plan="dental-elite">
                <div class="plan-image-container">
                    <img src="img/tarjeta_dental_elite.gif" alt="Icono Dental Elite" loading="lazy">
                </div>
                <div class="plan-title">
                    <h3>Dental Elite</h3>
                </div>
                <div class="plan-details">
                    <p>Plan odontológico de alta cobertura. Incluye atención con una red amplia de
                        especialistas,
                        procedimientos estéticos como blanqueamientos, ortodoncia preventiva y correctiva,
                        tratamiento de cáncer oral, cobertura para accidentes odontológicos.</p>
                    <a href="dental-elite.html" class="plan-link">
                        <button class="learn-more-button">Conocer más</button>
                    </a>
                </div>
            </div>

            <div class="plan-card" data-plan="dental-especial">
                <div class="plan-image-container">
                    <img src="img/tarjeta_dental_especial.gif" alt="Icono Dental Especial" loading="lazy">
                </div>
                <div class="plan-title">
                    <h3>Dental Especial</h3>
                </div>
                <div class="plan-details">
                    <p>Cobertura odontológica nacional con atención en tratamientos especializados, ayudas
                        diagnósticas, urgencias y accidentes. Aplica cupón de pago directo (es decir, parte del
                        coste se paga en el momento al prestador).</p>
                    <a href="dental-especial.html" class="plan-link">
                        <button class="learn-more-button">Conocer más</button>
                    </a>
                </div>
            </div>

            <div class="plan-card" data-plan="dental-express">
                <div class="plan-image-container">
                    <img src="img/tarjeta_dental_express.gif" alt="Icono Dental Express" loading="lazy">
                </div>
                <div class="plan-title">
                    <h3>Dental Express</h3>
                </div>
                <div class="plan-details">
                    <p>Plan más sencillo de odontología orientado a prevención, urgencias y atención básica
                        dental.
                        No tiene periodos de carencia y no exige cupón de pago directo para servicios incluidos.
                    </p>
                    <a href="dental-express.html" class="plan-link">
                        <button class="learn-more-button">Conocer más</button>
                    </a>
                </div>
            </div>
            <div class="plan-card" data-plan="cem">
                <div class="plan-image-container">
                    <img src="img/cem.png" alt="Icono Programa CEM" loading="lazy">
                </div>
                <div class="plan-title">
                    <h3>Programa CEM</h3>
                </div>
                <div class="plan-details">
                    <p>Atención domiciliaria de urgencias, emergencias y servicios de teleconsulta disponibles 24/7.</p>
                    <a href="cem.html" class="plan-link">
                        <button class="learn-more-button">Conocer más</button>
                    </a>
                </div>
            </div>
        </div>


        <button id="slideRight" class="slide-button right">›</button>

    </div>
</section>